/*general flex box*/
.flex, .flex-reverse, .flex-end, .pusher #content .edit .paragraph .field, .pusher #content .edit .picture .field, .flex-between, .flex-center, .col, .col-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-end, .pusher #content .edit .paragraph .field, .pusher #content .edit .picture .field {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col, .col-start {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.cursor {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.d-none {
  display: none;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(rgba(255, 255, 255, 0), white);
}

.fixed-bottom .button {
  margin: 0 0.5rem 0.5rem;
}

.font-red {
  color: #FB5F5F;
}

.font-green {
  color: #66BB6A;
}

.font-aqua {
  color: #38ADEF;
}

.font-yellow {
  color: #F2BB13;
}

.font-black {
  color: #333333;
}

/*register page style*/
.signup {
  position: relative;
  height: auto;
  background-color: #333333;
  overflow: auto;
  padding-bottom: 100px;
}

.signup h1.head {
  color: white;
  font-size: 3rem;
  font-weight: 400;
  margin: 4rem 0;
}

.signup .formbox {
  z-index: 1;
  background: white;
  width: 800px;
  max-width: 90%;
  height: auto;
  border-radius: 3rem 3rem 0 0;
}

.signup .formbox .form {
  padding: 4rem 0;
}

.signup .formbox .form h2 {
  margin: 1rem 0;
}

.signup .formbox .form input {
  height: 2.5rem;
  width: 500px;
  max-width: 80vw;
  margin-bottom: 3rem;
  border: none;
  border-bottom: 1px solid #333333;
  -webkit-transition: border-bottom 0.3s linear;
  transition: border-bottom 0.3s linear;
}

.signup .formbox .form input:focus {
  outline: none;
}

.signup .formbox .form input:focus:invalid {
  border-bottom: 1px solid #FB5F5F;
}

.signup .formbox .form input:focus:valid {
  border-bottom: 1px solid #38ADEF;
}

.signup .formbox .form ::-webkit-input-placeholder {
  color: #CCCCCC;
}

.signup .formbox .form :-ms-input-placeholder {
  color: #CCCCCC;
}

.signup .formbox .form ::-ms-input-placeholder {
  color: #CCCCCC;
}

.signup .formbox .form ::placeholder {
  color: #CCCCCC;
}

.signup .formbox .form .first {
  margin-right: 30px;
}

.signup .formbox .form .half input {
  width: 235px;
  max-width: 37.5vw;
}

.signup .formbox .valid,
.signup .formbox .invalid {
  margin-top: -4.5rem;
  margin-bottom: 1.5rem;
}

.signup .button-bottom {
  z-index: 1;
  color: white;
  background: #66BB6A;
  width: 800px;
  max-width: 90%;
  border-radius: 0 0 3rem 3rem;
  padding: 1rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border: none;
}

.signup .button-bottom:hover {
  background: #76CB7A;
}

.signup .button-bottom:active {
  opacity: 0.8;
}

.signup::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 860px;
  background: url("../images/wire.svg") no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 20px;
  top: 0;
}

.signup::after {
  content: "";
  position: absolute;
  width: 210px;
  height: 860px;
  background: url("../images/wire.svg") no-repeat;
  right: 20px;
  bottom: 0;
}

.pushable {
  max-height: calc(100vh - 53px);
}

.pusher {
  background-color: #EEEEEE !important;
  padding: 10px;
}

.pusher #content .name {
  text-align: center;
  width: 400px;
  height: 50px;
  margin: 1rem;
  border-bottom: 1px solid #333333 !important;
}

.pusher #content .positive.button {
  margin: 2rem 0;
  width: 120px;
}

.pusher #content .edit {
  min-height: 50vh;
}

.pusher #content .edit #tag {
  margin: 2rem 0;
  max-height: 38px;
}

.pusher #content .edit .title {
  margin: 2rem 0;
}

.pusher #content .edit .title input {
  max-width: 80vw;
  font-size: 1.5rem;
  border-bottom: 1px solid #999999 !important;
}

.pusher #content .edit .paragraph .field {
  padding: 0;
  width: 100%;
}

.pusher #content .edit .picture {
  margin: 2rem 0;
  width: 100%;
}

.pusher #content .edit .picture .field {
  padding: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .pusher #content #project-name,
  .pusher #content #team-name {
    width: 250px;
  }
  .pusher #content .positive.button {
    width: auto;
  }
  .pusher #content .edit {
    margin: 2rem 0 !important;
  }
}

.pusher .newteam {
  padding: 2rem 1rem 25rem;
}

.pusher .newteam .header {
  margin: 2rem 0;
}

.pusher .newteam .image {
  width: 50px;
  height: 50px;
  background: #F2BB13;
}

@media (min-width: 768px) {
  .pusher .newpost {
    padding: 4rem 4rem;
  }
  .pusher .newteam {
    padding: 4rem 4rem 25rem;
  }
  .pusher .newteam .image {
    width: 60px;
    height: 60px;
  }
}
/*# sourceMappingURL=anos_style.css.map */