* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.d-none {
  display: none;
}

div.regist-compelete {
  background-color: #333333;
  color: white;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.regist-compelete .regist-compelete-title {
  font-size: 1em;
}

div.regist-compelete .regist-compelete-subtitle {
  font-size: 0.8em;
}

div.regist-compelete .regist-compelete-button {
  padding: 0 1em;
  margin-top: 1em;
  background: #F2BB13;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

div.regist-compelete .regist-compelete-button:hover {
  background-color: #3e8e41;
}

div.Page_Login {
  background-color: #333333;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.Page_Login .Left-picture {
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

div.Page_Login .Left-picture .Left-picture-then {
  width: 32vw;
  height: 32vw;
  background-image: url(../get-images/wire2.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

div.Page_Login .Login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 50%;
  min-height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.Page_Login .Login-form .Login-input {
  background-color: white;
  border-radius: 30px 30px 0 0;
  width: 100%;
  min-height: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.Page_Login .Login-form .Login-input .Login_image {
  width: 100%;
  font-size: 3vw;
}

div.Page_Login .Login-form .Login-input .Login_image .logo-black {
  text-align: center;
}

div.Page_Login .Login-form .Login-input .Login_username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 1em;
  margin-top: 2em;
}

div.Page_Login .Login-form .Login-input .Login_username input[type=text] {
  font-size: 1vw;
  width: 50%;
  border: none;
  border-bottom: 1px solid black;
}

div.Page_Login .Login-form .Login-input .Login_password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 2vw;
  font-size: 1em;
  margin-top: 1.5em;
  padding-bottom: 1em;
}

div.Page_Login .Login-form .Login-input .Login_password input[type=password] {
  font-size: 1vw;
  width: 50%;
  border: none;
  border-bottom: 1px solid black;
}

div.Page_Login .Login-form .Login-button {
  width: 100%;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

div.Page_Login .Login-form .Login-button .button {
  font-size: 1.5vw;
  color: white;
  padding: 0 1em;
  cursor: pointer;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  width: 50%;
  height: 2em;
}

div.Page_Login .Login-form .Login-button .signup:hover {
  background-color: darkgoldenrod;
}

div.Page_Login .Login-form .Login-button .login:hover {
  background-color: darkred;
}

div.Page_Login .Login-form .Login-button .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2BB13;
  border-radius: 0 0 0 30px;
}

div.Page_Login .Login-form .Login-button a {
  color: white;
  text-decoration: none;
}

div.Page_Login .Login-form .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FB5F5F;
  border-radius: 0 0 30px 0;
}

div.Page_Login .forgot-password {
  padding-top: 1em;
  font-size: 1vw;
  cursor: pointer;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-start;
}

div.Page_Login .forgot-password:hover {
  color: gray;
}

.Right-picture {
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.Right-picture .Right-picture-then {
  width: 32vw;
  height: 32vw;
  background-image: url(../get-images/wire.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.ui.grid {
  padding: 0 !important;
  margin: 0 !important;
}

.ui.grid {
  border: 0;
}

.ui.grid .row {
  padding: 0;
}

.ui.grid .row .column {
  padding: 0;
}

.ui.grid .row .column .ui.menu {
  border-radius: 0;
  background: #333333;
}

.ui.grid .row .column .ui.menu .item {
  color: #ffffff;
  border-radius: 0;
}

.ui.grid .row .column .ui.menu .item:hover {
  background: #F2BB13;
}

.ui.grid .row .column .ui.menu .item.nohover:hover {
  background: #333333;
}

.ui.grid .row .column .bars.icon,
.ui.grid .row .column .bell.icon,
.ui.grid .row .column .user.icon,
.ui.grid .row .column .home.icon {
  margin: 0;
}

.pushable.segment {
  margin: 0 !important;
}

div.homepage {
  width: 100vw;
  min-height: 93vh;
  background: #eeeeee;
  position: relative;
}

div.segment.noframe {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  padding: 0;
  margin: 0;
}

i.icon {
  font-size: 1.3em;
}

div.ui.search i.icon {
  font-size: 0.9em;
}

div.ui.search .prompt {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.profile-data .profile-image {
  text-align: center;
}

.profile-data .profile-image .get-image {
  width: 150px;
  height: 150px;
  border: 10px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.profile-data .output {
  margin: 1em 2em 2.5em 1.5em;
}

.profile-data .title {
  height: 1.5em;
  margin-left: 2em;
  z-index: 10;
  color: white;
  margin-bottom: 0;
  border-radius: 8%;
}

.profile-data .title-project {
  background-color: #F2BB13;
}

.profile-data .data {
  margin-top: -1em;
}

.profile-data .title-information.ui.placeholder.segment {
  border-radius: 5%;
}

.profile-data .title-information {
  background-color: #F2BB13;
  font-size: 1em;
}

.profile-data .text-information {
  width: 100%;
  background-color: #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.profile-data .title-resume {
  background-color: #F2BB13;
  font-size: 1em;
}

.profile-data-new .title {
  font-size: 1.265em;
  z-index: 10;
  color: white;
  margin-bottom: 0;
  margin-top: 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #F2BB13;
}

.profile-data-new .title-information.ui.placeholder.segment {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.profile-data-new .profile-image {
  text-align: center;
  margin-top: 2em;
}

.profile-data-new .edit-profile-image .ui.olive.button {
  border-radius: 10%;
  font-size: 0.8em;
}

.profile-data-new .username-under-image {
  font-size: 1.2em;
}

.profile-data-new .output {
  margin: 1.5em 2em 2.5em 1.5em;
}

.profile-data-new .ui.grid > .column:not(.row) {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.profile-data-new .text-title-information {
  margin-bottom: 1.5em;
}

.editprofile-data-new .ui.segment:first-child {
  margin-top: 0 !important;
}

.editprofile-data-new .title {
  font-size: 1.265em;
  z-index: 10;
  color: white;
  margin-bottom: 0;
  margin-top: 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #F2BB13;
}

.editprofile-data-new .head-of-button-summit {
  background-color: #EEEEEE;
}

.editprofile-data-new .title-information.ui.placeholder.segment {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.editprofile-data-new .profile-image {
  margin-top: 2em;
  text-align: center;
}

.editprofile-data-new .profile-image .user-image {
  width: 10vw;
  height: 10vw;
  border: 10px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.editprofile-data-new .username-under-image {
  font-size: 1.2em;
}

.editprofile-data-new .output {
  margin: 1.5em 2em 2.5em 1.5em;
}

.editprofile-data-new .ui.grid > .column:not(.row) {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.editprofile-data-new .text-title-information {
  margin-bottom: 1.5em;
}

div.edit.edit-resume.output {
  margin-left: 90%;
  margin-right: 0;
}

div.edit.edit-profile.output {
  margin-left: 90%;
  margin-right: 0;
}

.submit-edit-profile-image .ui.olive.button {
  border-radius: 10%;
  font-size: 1.3em;
}

input[type=text] {
  background-color: white;
  font-size: 1vw;
  width: 50%;
  border: none;
}

.ui.placeholder.segment {
  background-color: white;
}

.ui.segment {
  border: 0;
}

.ui.placeholder.segment {
  min-height: 1rem;
}
/*# sourceMappingURL=get-css.css.map */