* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$red: #FB5F5F;
$green: #66BB6A;
$aqua: #38ADEF;
$yellow: #F2BB13;
$black: #333333;
$darkgray: #A1A1A1;
$lightgray: #BFBFBF;
$white: #ffffff;

/* semantic ui custom edit */

.ui.grid {
    padding: 0 !important;
    margin: 0!important;
    border: 0;
    .row {
        padding: 0;
        .column {
            padding: 0;
            .ui.menu {
                border-radius: 0;
                background: $black;
                .item {
                    color: $white;
                    border-radius: 0;
                }
                .item:hover {
                    background: $yellow;
                }
                .item.nohover:hover {
                    background: $black;
                }
            }
            .bars.icon,
            .bell.icon,
            .user.icon,
            .home.icon {
                margin: 0;
            }
        }
    }
}

.pushable.segment {
    margin: 0 !important;
}

i.icon {
    font-size: 1.3em;
}

div.ui.search {
    i.icon {
        font-size: 0.9em;
    }
    .prompt {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
}


/* end of  semantic ui custom edit */

div.homepage {
    width: 100vw;
    min-height: 93vh;
    background: #eeeeee;
    position: relative;
}

div.segment.noframe {
    box-shadow: none;
    border: 0;
    padding: 0;
    margin: 0;
}

div.ui.segment.trending-card {
    background: $black;
    color: $white;
    .trending-content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        .item.trending-name {
            margin-right: 0.3em;
            font-size: 1.2em;
            font-weight: 500;
            a {
                color: $white;
            }
            a:hover {
                color: $aqua;
            }
        }
        .item.trending-owner {
            font-size: 0.8em;
            a {
                color: $lightgray;
            }
            a:hover {
                color: $aqua;
            }
        }
    }
}

div.ui.segment.project-card {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    .project-row {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0 1rem;
        &.top {
            margin-top: 1rem;
        }
        .item.project-name {
            margin-right: 0.3em;
            font-size: 2.2em;
            font-weight: 500;
            a {
                color: $black;
            }
            a:hover {
                color: $aqua;
            }
        }
        .item.project-owner {
            font-size: 1.2em;
            a {
                color: $darkgray;
            }
            a:hover {
                color: $aqua;
            }
        }
        .tag-container {
            display: flex;
            .item {
                margin-right: 1rem;
                color: $white;
                background: $yellow;
                padding: .2rem 1.2rem;
                border-radius: 2rem;
            }
        }
    }
}

a.ui.segment.detail-button {
    margin-top: 0;
    color: $white;
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    margin-bottom: 2rem;
    div {
        text-decoration: none;
        color: inherit;
        font-size: 1.2rem;
    }
    &:hover {
        color: $yellow;
    }
}

div.ui.segment {
    .project-detail {
        width: 100%;
        margin: 0rem auto;
        margin-bottom: 0;
        padding: 2em 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
        .ui.header.centered {
            font-size: 2rem;
            margin-bottom: 0;
        }
        .ui.sub.header.centered {
            font-size: 1rem;
            margin-top: 0.4em;
            margin-bottom: 0rem;
            color: $darkgray;
        }
        .tag-container {
            margin-top: 1rem;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .tag {
                font-size: 1rem;
                color: $white;
                padding: 0 1.3rem;
                background: $yellow;
                border-radius: 1rem;
            }
        }
        .ui.centered.Huge.image {
            margin: 3rem auto;
        }
        .project-detail-container {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            .title {
                font-size: 1.5em;
            }
            .paragraph {
                font-size: 1em;
            }
            .ui.fluid.image {
                margin-top: 1.5em;
            }
        }
    }
    a.ui.segment.project-detail-button {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding: 1em 0;
        color: $white;
        background: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
        margin-bottom: 2rem;
        div {
            text-decoration: none;
            color: inherit;
            font-size: 1.2rem;
        }
        &:hover {
            color: $black;
        }
    }
}