* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$red: #FB5F5F;
$green: #66BB6A;
$aqua: #38ADEF;
$yellow: #F2BB13;
$black: #333333;
$darkgray: #A1A1A1;
$lightgray: #BFBFBF;
$white: #ffffff;

/* semantic ui custom edit */

.ui.grid {
    padding: 0 !important;
    margin: 0!important;
    border: 0;
    .row {
        padding: 0;
        .column {
            padding: 0;
            .ui.menu {
                border-radius: 0;
                background: $black;
                .item {
                    color: $white;
                    border-radius: 0;
                }
                .item:hover {
                    background: $yellow;
                }
                .item.nohover:hover {
                    background: $black;
                }
            }
            .bars.icon,
            .bell.icon,
            .user.icon,
            .home.icon {
                margin: 0;
            }
        }
    }
}

.pushable.segment {
    margin: 0 !important;
}

i.icon {
    font-size: 1.3em;
}

div.ui.search {
    i.icon {
        font-size: 0.9em;
    }
    .prompt {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
}


/* end of  semantic ui custom edit */

div.homepage {
    width: 100vw;
    min-height: 93vh;
    background: #eeeeee;
    position: relative;
}

div.segment.noframe {
    box-shadow: none;
    border: 0;
    padding: 0;
    margin: 0;
}

div.ui.segment.trending-card {
    background: $black;
    color: $white;
    .trending-content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        .item.trending-name {
            margin-right: 0.3em;
            font-size: 1.2em;
            font-weight: 500;
            a {
                color: $white;
            }
            a:hover {
                color: $aqua;
            }
        }
        .item.trending-owner {
            font-size: 0.8em;
            a {
                color: $lightgray;
            }
            a:hover {
                color: $aqua;
            }
        }
    }
}

div.ui.segment.project-card {
    margin-bottom: 0;
    .project-row {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0 1rem;
        &.top {
            margin-top: 1rem;
        }
        .item.project-name {
            margin-right: 0.3em;
            font-size: 2.2em;
            font-weight: 500;
            a {
                color: $black;
            }
            a:hover {
                color: $aqua;
            }
        }
        .item.project-owner {
            font-size: 1.2em;
            a {
                color: $darkgray;
            }
            a:hover {
                color: $aqua;
            }
        }
        .tag-container {
            display: flex;
            .item {
                margin-right: 1rem;
                color: $white;
                background: $yellow;
                padding: .2rem 1.2rem;
                border-radius: 2rem;
            }
        }
    }
}

div.ui.segment.detail-button {
    margin-top: 0;
    color: $white;
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    a {
        text-decoration: none;
        color: inherit;
        font-size: 1.2rem;
    }
}