* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* semantic ui custom edit */
.ui.grid {
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
}

.ui.grid .row {
  padding: 0;
}

.ui.grid .row .column {
  padding: 0;
}

.ui.grid .row .column .ui.menu {
  border-radius: 0;
  background: #333333;
}

.ui.grid .row .column .ui.menu .item {
  color: #ffffff;
  border-radius: 0;
}

.ui.grid .row .column .ui.menu .item:hover {
  background: #F2BB13;
}

.ui.grid .row .column .ui.menu .item.nohover:hover {
  background: #333333;
}

.ui.grid .row .column .bars.icon,
.ui.grid .row .column .bell.icon,
.ui.grid .row .column .user.icon,
.ui.grid .row .column .home.icon {
  margin: 0;
}

.pushable.segment {
  margin: 0 !important;
}

i.icon {
  font-size: 1.3em;
}

div.ui.search i.icon {
  font-size: 0.9em;
}

div.ui.search .prompt {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

/* end of  semantic ui custom edit */
div.homepage {
  width: 100vw;
  min-height: 93vh;
  background: #eeeeee;
  position: relative;
}

div.segment.noframe {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  padding: 0;
  margin: 0;
}

div.ui.segment.trending-card {
  background: #333333;
  color: #ffffff;
}

div.ui.segment.trending-card .trending-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

div.ui.segment.trending-card .trending-content .item.trending-name {
  margin-right: 0.3em;
  font-size: 1.2em;
  font-weight: 500;
}

div.ui.segment.trending-card .trending-content .item.trending-name a {
  color: #ffffff;
}

div.ui.segment.trending-card .trending-content .item.trending-name a:hover {
  color: #38ADEF;
}

div.ui.segment.trending-card .trending-content .item.trending-owner {
  font-size: 0.8em;
}

div.ui.segment.trending-card .trending-content .item.trending-owner a {
  color: #BFBFBF;
}

div.ui.segment.trending-card .trending-content .item.trending-owner a:hover {
  color: #38ADEF;
}

div.ui.segment.project-card {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

div.ui.segment.project-card .project-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 1rem;
}

div.ui.segment.project-card .project-row.top {
  margin-top: 1rem;
}

div.ui.segment.project-card .project-row .item.project-name {
  margin-right: 0.3em;
  font-size: 2.2em;
  font-weight: 500;
}

div.ui.segment.project-card .project-row .item.project-name a {
  color: #333333;
}

div.ui.segment.project-card .project-row .item.project-name a:hover {
  color: #38ADEF;
}

div.ui.segment.project-card .project-row .item.project-owner {
  font-size: 1.2em;
}

div.ui.segment.project-card .project-row .item.project-owner a {
  color: #A1A1A1;
}

div.ui.segment.project-card .project-row .item.project-owner a:hover {
  color: #38ADEF;
}

div.ui.segment.project-card .project-row .tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.ui.segment.project-card .project-row .tag-container .item {
  margin-right: 1rem;
  color: #ffffff;
  background: #F2BB13;
  padding: .2rem 1.2rem;
  border-radius: 2rem;
}

a.ui.segment.detail-button {
  margin-top: 0;
  color: #ffffff;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  margin-bottom: 2rem;
}

a.ui.segment.detail-button div {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

a.ui.segment.detail-button:hover {
  color: #F2BB13;
}

div.ui.segment .project-detail {
  width: 100%;
  margin: 0rem auto;
  margin-bottom: 0;
  padding: 2em 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

div.ui.segment .project-detail .ui.header.centered {
  font-size: 2rem;
  margin-bottom: 0;
}

div.ui.segment .project-detail .ui.sub.header.centered {
  font-size: 1rem;
  margin-top: 0.4em;
  margin-bottom: 0rem;
  color: #A1A1A1;
}

div.ui.segment .project-detail .tag-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.ui.segment .project-detail .tag-container .tag {
  font-size: 1rem;
  color: #ffffff;
  padding: 0 1.3rem;
  background: #F2BB13;
  border-radius: 1rem;
}

div.ui.segment .project-detail .ui.centered.Huge.image {
  margin: 3rem auto;
}

div.ui.segment .project-detail .project-detail-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div.ui.segment .project-detail .project-detail-container .title {
  font-size: 1.5em;
}

div.ui.segment .project-detail .project-detail-container .paragraph {
  font-size: 1em;
}

div.ui.segment .project-detail .project-detail-container .ui.fluid.image {
  margin-top: 1.5em;
}

div.ui.segment a.ui.segment.project-detail-button {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 1em 0;
  color: #ffffff;
  background: #66BB6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  margin-bottom: 2rem;
}

div.ui.segment a.ui.segment.project-detail-button div {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

div.ui.segment a.ui.segment.project-detail-button:hover {
  color: #333333;
}
/*# sourceMappingURL=ustyle.css.map */